@import "@/common//assets/style/index.scss";

.home {
  .home__content__page {
    background-color: white;
    margin: 0;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.input-date {
  width: 260px;
}
