@import "/src/common/assets/style/index.scss";
.header {
  display: block;
  background-color: $color-primary;
  width: 100%;
  height: $header-height;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
