.MuiButton-root.c-button {
  min-width: 85px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  text-transform: inherit;
  padding: 9px 17px;
  background-color: $color-button;

  &.hide-on-mobile {
    @include xs {
      display: none;
    }
    @include lg {
      display: inline-flex;
    }
  }
  &.hide {
    display: none;
  }
}
.sidebar-control {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  .sidebar-button {
    border-radius: 0;
    padding: 10px 0;
    &.scan {
      background-color: $color-primary;
    }
    &.close {
      background-color: $color-light-gray;
    }
  }
}
