.navbar {
  .MuiDrawer-paper {
    border-right: 0;
  }

  .navbar-buton-toggle {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 1;
    color: white;
    transform: scale(110%);

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .navbar-header {
    min-height: 80px;
    justify-content: left;

    img {
      margin: auto;
      height: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .home .navbar {
    display: none;
  }
}
